html {
	scroll-behavior: smooth;
}

body {
	/*background: linear-gradient(#eeeeee, #0C5FE8, #FF7CC5); --> */
	background-color: white;
	font-family: Helvetica, arial, sans-serif;
	text-transform: uppercase;

	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 900;
	font-size: calc(25px + 3vw);
	color: black;
	text-align: center;
	position: fixed;
	transition: color .6s;
	margin-top: 2.5rem;
	width:100%;
}


h2 {
	font-size: 25pt;
	text-align:left;
	color: black;
}

h3 {
	font-weight: 800;
	font-size: 12.5pt;
	text-align:left;
	text-transform: uppercase;
	color: black;
}

p {
	font-style: normal;
	font-size: 9px;
	text-align: justify;
	color: black;
	padding-bottom: 15px;
}

img {
	width: 100%;
}

.nav {
	text-align:left;
	color: black;
	position:fixed;
	width: auto;
	padding-top: calc(8em + 50px);
	margin: 0px 20px;
	font-family: helvetica, arial. sans-serif;
	text-decoration: none;
	transition: color .5s;
}

ul {
	list-style-type: none;
	font-family: helvetica, arial. sans-serif;
	font-weight: 600;
	font-size: 9pt;
	text-transform: uppercase;
	color: black;
	margin: 0px;
	padding: 0;
	position: fixed;
}

a.two {
	text-decoration: none;
	font-family: helvetica, arial. sans-serif;
	color: black;
	transition: color .5s;
}

a.two:hover {
	text-decoration: none;
	color: #FF7CC5;
	transition: color .5s;
}

a.one {
	text-decoration: none;
	font-family: helvetica, arial. sans-serif;
	color: black;
	transition: color .5s;
}

a.one:hover {
	color: #0C5FE8;
	font-weight: 900;
	transition: color .5s;
}

.portfolio {
	width: 100%;
	padding-top: 8em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.project {
	max-width: 625px;
	margin: 50px 30px;
}

#footer {
	text-align: center;
}
